plugins
models
logs
main/__pycache__
main/migrations
main/model
main/templatetags/__pycache__
medicalml/__pycache__

.env
db.sqlite3

docker-compose222.yaml

terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

dags/data
dags/__pycache__