{% extends 'main/base.html'  %}
{% block title %}Add a Record{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div class="alert alert-success alert-dismissible fade show" role="alert" id="copyAlert" style="display: none;">
    Text copied to clipboard!
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<form method="post">
    {% csrf_token %}{{form|crispy}}
    <button type="submit" class="btn btn-success">Submit</button>
</form>

<div id="dynamicContent">
    {{ dynamic_html_content | safe }}
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var dynamicContent = document.getElementById('dynamicContent');

        dynamicContent.addEventListener('click', function (event) {
            var titleElement = event.target.closest('.card-title');
            if (titleElement) {
                var text = titleElement.textContent.trim();
                var textAfterHash = text.substring(text.indexOf('#') + 1);
                copyToClipboard(textAfterHash);
            }
        });

        function copyToClipboard(text) {
            var textArea = document.createElement('textarea');
            textArea.value = text;
            document.body.appendChild(textArea);
            textArea.select();
            document.execCommand('copy');
            document.body.removeChild(textArea);
            var copyAlert = document.getElementById('copyAlert');
            copyAlert.style.display = 'block';
            window.scrollTo({ top: 0, behavior: 'smooth' });
        }
    });
</script>

{% endblock %}