{% extends 'main/base.html'  %}
{% block title %}Edit record{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1>Edit Record</h1>
            {{ form.media }}
            <form method="post" id="my_form">
                {% csrf_token %}
                {{ form|crispy }}
                {% if status == "doctor" or page == 'profile' %}
                    <button type="submit" class="btn btn-primary">Update</button>
                {% endif %}
                
                <a href="{% url 'detailed_view_record' record.patient.id %}" class="btn btn-secondary">Back</a>
            </form>
        </div>
    </div>
</div>



<script>
    document.addEventListener('DOMContentLoaded', function () {
        var status = "{{ status }}"; 
        var currentPage = window.location.pathname;
        function updateFormFields() {
            var form = document.getElementById("my_form"); 
            var formElements = form.elements;
            var enableFields = (status === 'doctor') || (status === 'patient' && currentPage.match(/^\/record\/\d+\/edit_profile\/$/));

            for (var i = 0; i < formElements.length; i++) {
                formElements[i].disabled = !enableFields;
            }
        }
        updateFormFields();
    });
</script>


{% endblock %}