{% extends 'main/base.html' %}
{% block title %}List of Patients{% endblock %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="static/css/style.css">


<div class="card custom-doctor-card">
    <div class="card-body">
        <h5 class="card-title">{{ doctor.pk }}</h5>
        <p class="card-text"><strong>First Name:</strong> {{ doctor.first_name }}</p>
        <p class="card-text"><strong>Last Name:</strong> {{ doctor.last_name }}</p>
        <p class="card-text"><strong>Age:</strong> {{ doctor.age }}</p>
        <p class="card-text"><strong>Gender:</strong> {{ doctor.gender }}</p>
        <p class="card-text"><strong>Contact Number:</strong> {{ doctor.contact_number }}</p>
    </div>
</div>


<div class="mb-3">
    <form method="get" action="{% url 'home' %}">
        <div class="input-group">
            <input type="text" class="form-control" name="q" {% if query %}value="{{ query }}"{% else %}placeholder="Search"{% endif %}>
            <button type="submit" class="btn btn-outline-secondary">Search</button>
            <a href="{% url 'home' %}" class="btn btn-outline-secondary">Back</a>
        </div>
    </form>
</div>


{% for record in records %}
<div class="card mt-2">
    <!-- <div class="card-header"><strong>@{{record.author.username}}</strong></div> -->
    <div class="card-body d-flex flex-row justify-content-between">
        <div>
            <h5 class="card-title">{{record.patient_id}}</h5>
            <p>{{record.first_name}}</p>
            <p>{{record.last_name}}</p>
            <p>{{record.age}}</p>
            <p>{{record.gender}}</p>
            <p>{{record.contact_number}}</p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href="{% url 'detailed_view_record' record.pk %}" class="btn btn-outline-secondary" >Detailed View</a>
            </div>
        </div>
    </div>
</div>
{% empty %}
<p>No records</p>
{% endfor %}




<div class="pagination">
    <span class="step-links">
        {% if records.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ records.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ records.number }} of {{ records.paginator.num_pages }}.
        </span>

        {% if records.has_next %}
            <a href="?page={{ records.next_page_number }}">next</a>
            <a href="?page={{ records.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>





{% endblock %}

